.splitting {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  overflow: hidden;
  padding-top: 50px;
}

.right {
  width: 100%;
  background-color: red;
  height: 100%;
}

.left {
  left: 0;
  /* background-color: #111; */
}

.card {
  float: right;
  align-items: center;
  width: 50%;
}

button{
  margin-top: 20px;
  align-items: center;
  margin-left: 50px;
}